/* Layout ------------------------------------------------*/

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#595959;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
  font-weight: 500;
  margin-bottom: 0;
}

h2 {
  color:#393939;
  font-weight: 500;
}

h3, h4, h5, h6 {
  color:#494949;
  font-weight: 500;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

a {
  color:#39c;
}
a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

dt {
  color:#444;
  font-weight:500;
}

strong {
  color:#222;
  font-weight:500;
}

small {
  font-size:13px;
}
h1 small {font-weight: normal;}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

img {
  max-width:100%;
}

/* Table -------------------------------------------------- */

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
}

th {
  color:#444;
}

th, tbody {
  border-bottom:1px solid #e5e5e5;
}

/* Index -------------------------------------------------- */

table.syllabus {margin: 0;}
table.syllabus a {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  color: #000;
}

.workflow {background-color: #66C2A5;}
.explore {background-color: #FC8D62;}
.wrangle {background-color: #8DA0CB;}
.program {background-color: #E78AC3;}
.model {background-color: #A6D854;}
.communicate {background-color: #FFD92F;}

col.week {width: 5%;}
col.theme {width: 11.85%;}

/* Layout ------------------------------------------------*/

.wrapper {width: 650px;}

@media print, screen and (max-width: 650px) {
  .wrapper {width: 100%;}
}

footer {margin-top: 2em; border-top: 2px solid #e5e5e5; padding-top: 1em;}
header {margin-bottom: 2em; border-bottom: 2px solid #e5e5e5;}
header h1 {font-size: 20px; margin-bottom: 5px; color: #333; font-weight: normal;}
